html{
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
}

img{
  width:100%;
}

.inset{
  float: left;
  width: 40%;
  margin-right: 15px;
  margin-bottom: 15px;
}
.p{
  font: Georgia;
}
.p2{
  clear: left;
  font-family: 'Vollkorn', serif;
}

.fc{
  background-color: #d98156;
  color:white;
  text-align: center;
  clear: right;
  float: none;
  font-family: 'Lato', sans-serif;
}
.clear-it{
  clear: both;
  float: right;
  width: 40%;
  margin-left: 1em;
}

div{
  background-color: #cd5b34;
  border: none;
  overflow: hidden;
}
nav{
  background-color: #cd5b34;
  font-family: 'Lato', sans-serif;
}
nav ol{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  overflow: hidden;
}
nav li{
  float: left;
  width:33.33333333%;
  list-style-type: none;
}
nav a{
  display: block;
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 0.5em 0.5em 0.5em 0.5em;
  background-color: #cd5b34;
  color: white;
  text-decoration: none;
  text-align: center;
}
a:hover{
  color: #d98156;
}
h1{
  text-align: center;
  color: white;
  font-family: 'Lato', sans-serif;

}

figure{
  padding: 0.5em;
  width:100%;
}
.corn{
  width: 100%;
  background-color: #d98156;
  margin: 0;
}
.rice{
  clear: left;
  float: left;
  width: 50%;
  background-color:#d98156;
  display: inline-block;
  margin: 0;
}
.oats{
  float: right;
  width: 50%;
  display:inline-block;
  margin: 0;
}
.thingy{
  background-color:#d98156;
  clear: right;
}
figcaption{
  text-align: center;
  color: white;
  font-family: 'Vollkorn', serif;
}
.fl{
  text-align: center;
  color:black;
  font-family: 'Lato', sans-serif;
}
.peanuts{
  width: 20%;
  margin:0;
  float: left;
  clear: left;
  margin-right: 1em;
  margin-bottom: 1em;
  box-sizing: border-box;
  display: inline-block;
}
.beans{
  width: 20%;
  margin:0;
  float: left;
  clear: left;
  margin-right: 1em;
  margin-bottom: 1em;
  display: inline-block;
}
.lentils{
  width: 20%;
  margin: 0;
  float: left;
  clear: left;
  margin-right: 1em;
  margin-bottom: 1em;
  display: inline-block;
}

.foot{
  clear: both;
  text-align: center;
  display:block;
  overflow: hidden;
  margin: 0;
}
.footr{
  background-color: #cd5b34;
  padding:2em;
  clear: both;
}
.left{
  width: 10%;
  float: left;
}
.right{
  width: 10%;
  float: right;
}
.text{
  float: right;
  width: 75%;
  display: inline-block;
  overflow: hidden;
  margin:0;
  margin-right: 1em;
  margin-bottom:1em;
  font-family: 'Vollkorn', serif;
}
